extends layout

block content
  // main column
  .container
    .page-header
      h1
        span(style='font-family: Georgia, serif; color: #f36e21;') RIT 
        | Debit Calculator

      a(href='https://eservices.rit.edu/eServices/login.do', target='blank') RIT Meal Debit Display
      | &nbsp;&nbsp;&nbsp;
      a(href='http://finweb.rit.edu/diningservices/mealplans/1112/resident.html', target='_blank') RIT Meal Plans

    .row
      .col-md-6
        h2 Input

        form(role='form')
          label Meal Plan
          .form-group
            .radio
              label
                input(type='radio', name='mealPlan', value='alldebit')
                | All Debit
            .radio
              label
                input(type='radio', name='mealPlan', value='10plus')
                | 10 Plus
            .radio
              label
                input(type='radio', name='mealPlan', value='12plus')
                | 12 Plus
            .radio
              label
                input(type='radio', name='mealPlan', value='14plus')
                | 14 Plus
            .radio
              label
                input(type='radio', name='mealPlan', value='ultra')
                | Ultra
            .radio
              label
                input(type='radio', name='mealPlan', value='custom', checked='')
                | Custom

              .form-group
                label(for='date-start') Meal Plan Start
                input#date-start.form-control(type='date', name='dateStart')

              .form-group
                label(for='date-end') Meal Plan End
                input#date-end.form-control(type='date', name='dateEnd')

              .form-group
                label(for='money-total') Debit Total
                input#money-total.form-control(type='number', name='moneyTotal', size='7', placeholder='Type something…')

          .form-group
            label(for='money-left') Debit Left
            input#money-left.form-control(type='number', name='moneyLeft', size='7', placeholder='Type something…')

          button.btn.btn-primary(type='submit') Submit

      if results
        .col-md-6
          h2 Results

          h3 Usage
          p Time: day #{results.dayPassed} of #{results.dayTotal} (#{results.dayPassedPercent}%)
          p Spent: #{results.spentAmount} of #{results.spentTotal} (#{results.spentPercent}%), or #{results.spentDaily} daily

          h3 Recommendations
          p Spend #{results.recommendedDailySpending} daily (#{results.recommendedWeeklySpending} weekly).

    hr

    footer.text-muted
      | This service is not affiliated with RIT. That being said, feel free to email me with feedback at 
      a(href='mailto:thenickperson@gmail.com') thenickperson@gmail.com
      | .
