/ main column
.container
  .page-header
    %h1
      %span{style: "font-family: Georgia, serif; color: #f36e21;"} RIT
      Debit Calculator

    %a{href: "https://eservices.rit.edu/eServices/login.do", target: "blank"} RIT Meal Debit Display
    \&nbsp;&nbsp;&nbsp;
    %a{href: "http://finweb.rit.edu/diningservices/mealplans/1112/resident.html", target: "_blank"} RIT Meal Plans

  .row
    .col-md-6
      %h2 Input

      %form{role: "form"}
        %label Meal Plan
        .form-group
          .radio
            %label
              %input{name: "meal_plan", type: "radio", value: "all_debit"}/
              All Debit
          .radio
            %label
              %input{name: "meal_plan", type: "radio", value: "10_plus"}/
              10 Plus
          .radio
            %label
              %input{name: "meal_plan", type: "radio", value: "12_plus"}/
              12 Plus
          .radio
            %label
              %input{name: "meal_plan", type: "radio", value: "14_plus"}/
              14 Plus
          .radio
            %label
              %input{name: "meal_plan", type: "radio", value: "ultra"}/
              Ultra
          .radio
            %label
              %input{checked: "", name: "meal_plan", type: "radio", value: "custom"}/
              Custom

            .form-group
              %label{for: "date_start"} Meal Plan Start
              %input#date_start.form-control{name: "date_start", type: "date"}/

            .form-group
              %label{for: "date_end"} Meal Plan End
              %input#date_end.form-control{name: "date_end", type: "date"}/

            .form-group
              %label{for: "money_total"} Debit Total
              %input#money_total.form-control{name: "money_total", placeholder: "Type something…", size: "7", type: "number"}/

        .form-group
          %label{for: "money_left"} Debit Left
          %input#money_left.form-control{name: "money_left", placeholder: "Type something…", size: "7", type: "number"}/

        %button.btn.btn-primary{type: "submit"} Submit

    - if @results
      .col-md-6
        %h2 Results

        %h3 Usage
        %p
          Time: day #{@results[:day_passed]} of #{@results[:day_total]} (#{@results[:day_passed_percent]}%)
        %p
          Spent: #{@results[:spent_amount]} of #{@results[:spent_total]} (#{@results[:spent_percent]}%), or #{@results[:spent_daily]} daily

        %h3 Recommendations
        %p
          Spend #{@results[:recommended_daily_spending]} daily (#{@results[:recommended_weekly_spending]} weekly).

  %hr/

  %footer.text-muted
    This service is not affiliated with RIT. That being said, feel free to email me with feedback at
    = succeed "." do
      %a{href: "mailto:thenickperson@gmail.com"} thenickperson@gmail.com
